body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #e1ecf4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    text-align: center;
    color: #555;
}

#user-info {
    margin-bottom: 20px;
}

    #user-info form {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        background-color: #fff;
        padding: 20px;
    }

    #user-info label {
        display: block;
        margin-bottom: 5px;
    }

    #user-info input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    #user-info button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #4caf50;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        #user-info button:hover {
            background-color: #45a049;
        }

#exercise-list {
    margin-top: 20px;
}

.exercise-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.exercise-image {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
}

.exercise-details {
    display: flex;
    flex-direction: column;
}

.exercise-name {
    font-weight: bold;
}

.exercise-reps {
    color: #888;
}

#generate-link {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

    #generate-link:hover {
        background-color: #45a049;
    }
